html,
body {
    height: 100%;
}

body.blank {
    display: flex;
    padding: 40px 0;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

body.blank .wrap {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 400px;
    margin: -40px auto;
    padding: 15px;
}

body.blank .wrap > div {
    width: 100%;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th,
.grid-view td:last-child {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}

.content-wrapper .modal-dialog {
    margin: 0;
}

.content-wrapper .modal-lg {
    width: 100%;
}

.content-wrapper .modal-header {
    padding: 10px 15px;
}

.content-wrapper [data-dismiss] {
    display: none;
}

.modal-title {
    float: left;
    margin: 0;
    line-height: normal;
}

.box-purpose .purpose-price {
    position: relative;
}
.box-purpose .purpose-price .price-current {
    position: absolute;
    bottom: 0;
    padding: 4px 4px 2px;
}
.price-current .down {
    position: absolute;
    bottom: -8px;
    color: #008d4c;
}

.stock .item-charts-chart {
    height: 250px;
}

.portfolio .small-box h3 {
    font-size: 24px;
}
.portfolio .small-box .icon {
    font-size: 60px;
    top: 0;
}
.portfolio .small-box:hover .icon {
    font-size: 70px;
}
.charts .item-charts-chart {
    height: 350px;
}
.charts .item-charts-pie {
    height: 250px;
}

.portfolio .box {
    margin-bottom: 7px;
}
.portfolio .box-header {
    padding: 5px 10px;
}
.portfolio .small-box {
    margin-bottom: 10px;
}
.portfolio .small-box p {
    margin: 0;
}

.table-portfolio-stock th, .table-portfolio-stock td {
    text-align: center;
}
.table-portfolio-stock tr th:last-child, .table-portfolio-stock tr td:last-child {
    text-align: right;
}

.portfolio .label-hide {
    display: none;
}

.portfolio.collapsed-box .label-hide {
    display: inline-block;
}

.portfolio .label-hide .label {
    padding-bottom: 2px;
    margin-right: 8px;
}

@media (min-width: 1192px) {
    .modal-lg {
        width: 1100px;
    }
}

.box-collection .description-block, .box-collection-close .description-block {
    margin: 0;
}
.box-collection .col-sm-2{
    padding-right: 0;
}
.description-block .active {
    font-size: 14px;
    font-weight: 600;
}
.box-header .name {
    overflow: hidden;
}
.box-header .name .box-title {
    font-weight: 600;
    font-size: 16px;
    white-space: nowrap;
    overflow: hidden;
}
.box-header .name .description {
    font-size: 11px;
}
.box-header .action, table .action {
    text-align: right;
}
.box-header .description-header {
    white-space: nowrap;
}
.box-header .description-percentage {
    font-size: 13px;
}

@media (max-width: 768px) {
    .box-collection .box-header .action, .box-collection table .action {
        text-align: center;
    }
    .box-collection .description-block {
        margin: 0;
        text-align: right;
    }
    .col-xs-3 {
        width: 25%;
    }
    .col-768-3 {
        width: 25%;
        float: left;
    }
    .col-768-0 {
        display: none;
    }
}

@media (max-width: 680px) {
    .col-xs-0 {
        display: none;
    }
    .col-xs-3 {
        width: 50%;
    }
    .col-680-0 {
        display: none;
    }
}

.sidebar-mini.sidebar-collapse .main-header .navbar {
    height: 50px;
}

.main-header .navbar-custom-menu, .main-header .navbar-right {
    display: none;
}
.main-header .sidebar-toggle {
    padding: 10px;
    position: absolute;
    left: 10px;
    font-family: 'Font Awesome 5 Free';
}

/*--------- calendar -----------*/
.calendar {
    width: 100%;
}
.calendar-month {
    text-align: center;
    padding: 3px;
}
.calendar-row:first-child {
    width: 14%;
    text-align: center;
    border-bottom: 1px solid;
    background-color: #007bff;
    color: #ffffff;
}
.calendar-row td {
    width: 14%;
}
.calendar-row .day-number {
    padding: 2px;
    margin: 4px;
    text-align: center;
    border-radius: 25px;
}
.modal .calendar-row .day-number {
    border-radius: 0;
}
.calendar-row .day-number.calendar-day-current {
    border: solid #0054b8 3px;
    margin: 1px;
}
.calendar-row .day-number.calendar-day-select {
    border: solid #dc0115 3px;
    margin: 1px;
}
.calendar-row .day-number a {
    color: #1a1a1a;
}
.calendar-row .day-number.badge-primary a {
    color: #ffffff;
}
.calendar-row .day-number.badge-secondary a {
    color: #ffffff;
}
.calendar-row .day-number.badge-success a {
    color: #ffffff;
}
.calendar-row .day-number.badge-danger a {
    color: #ffffff;
}
.calendar-row .day-number.badge-info a {
    color: #ffffff;
}
.calendar-row .day-number.badge-dark a {
    color: #ffffff;
}

.popover-body hr {
    margin: 0.5rem -0.75rem;
}

/** ----- list ----- */
.products-list {
    list-style: none;
    margin: 0;
    padding: 0;
}
.product-list-in-box > .item {
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0;
    border-bottom: 1px solid #f4f4f4;
}
.product-list-in-box > .item:last-of-type {
    border-bottom: 0;
}
.products-list > .item {
    padding: 5px 0;
    background: #fff;
}
.products-list.cards > .item {
    width: 50%;
    float: left;
}
.products-list.cards > .item:nth-of-type(2n) {
    padding-left: 10px;
}
.products-list.cards > .item:nth-of-type(2n+1) {
    padding-right: 10px;
}
.products-list .product-img {
    float: left;
}
.products-list .product-info {
    margin-left: 62px;
}
.products-list .product-title {
    display: block;
    position: relative;
    font-weight: 600;
    color: #0068ac;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.products-list .product-title .right {
    position: absolute;
    top: 2px;
    right: 0;
}
.products-list .product-title i{
    margin-left: 7px;
}
.products-list .product-description {
    display: block;
    color: #999;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.products-list .product-time {
    float: left;
    text-align: center;
    width: 55px;
    color: #8d8c8c;
    font-size: large;
    font-weight: bold;
    font-stretch: condensed;
    font-family: Consolas;
}
.products-list .product-time .timer {
    font-size: 11px;
    padding-top: 2px;
}
.product-diff {
    color: #0068ac !important;
    font-weight: 600;
    padding-top: 10px;
}
.pull-right {
    float: right;
}

.list-calendar .col-md-3, .list-card .col-md-3 {
    margin-bottom: 15px;
}
.calendar-view .table th, .table td {
    padding: 0.2rem 0.5rem;
}
.calendar-mata {
    padding: 15px 0;
}
.calendar-mata div {
    padding-bottom: 5px;
}
.calendar-mata div:last-child {
    padding-bottom: 0;
}
.calendar-mata span {
    margin-right: 5px;
}


.container .modal-dialog {
    max-width: 100%;
    margin-top: 0.75rem;
}
.container .modal-dialog [data-dismiss] {
    display: none;
}

.modal-remote-view {
    cursor: pointer;
}

.modal-content h5 {
    font-size: 1.0rem;
    font-weight: 600;
}
.modal-content {
    background: #ffffff;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}
.modal-content.modal-primary {
    border-top-color: #3c8dbc;
}
.modal-header {
    padding: 0.5rem 1rem;
}
.modal-footer {
    padding: 0.5rem 1rem 0;
}
.modal-dialog .box {
    border-top-width: 4px;
}

.overlay {
    background: rgba(255,255,255,0.5);
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 50;
}
.overlay > .fas {
    position: absolute;
    top: 193px;
    left: 50%;
    margin-left: -15px;
    margin-top: -15px;
    color: #000;
    font-size: 30px;
    opacity: .75;
}

@media (max-width: 460px) {
    .list-card .card-img-left{
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        height: 150px;
    }
    .content-header > h3 {
        font-size: 18px;
    }
    .products-list.cards > .item {
        width: 100%;
        float: none;
        padding: 5px 0 !important;
    }
}

@media (max-width: 992px) {
    .card-mobile-img {
        display: none;
    }
}

@media (min-width: 460px) {
    .list-card .col-md-3 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media (min-width: 768px) {
    .list-card .col-md-3 {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
}

@media (min-width: 992px) {
    .list-card .col-md-3 {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }
}

.text-line-through {
    text-decoration: line-through;
}
.text-underline {
    text-decoration: underline;
}
.text-blink {
    text-decoration: blink;
}
.text-overline {
    text-decoration: overline;
}
.text-italic {
    font-style: italic;
}

.market{
    padding-bottom: 120px;
    text-align: center;
}
.market-text{
    padding-top: 100px;
    font-size: 48px;
    font-weight: 700;
    line-height: 50px;
}
.market-slug{
    padding-top: 30px;
    font-size: 32px;
    font-weight: 600;
    line-height: 30px;
    color: #898989;
}
.market-btn{
    padding-top: 30px;
    font-size: 32px;
    font-weight: 600;
    line-height: 30px;
}

.form-new .form-group {
    position: relative;
}
.form-new .form-group label {
    position: absolute;
    background-color: #fff;
    font-size: 13px;
    top: -5px;
    left: 7px;
    line-height: 11px;
    padding: 0 5px;
}
.form-new .form-group .form-control {
    padding-top: 12px;
}
.form-new .form-group {
    margin-bottom: 1.1rem;
}
.form-new .row {
    margin-bottom: -1.1rem;
}
